# 작업형1 예시문제
### 자동차 데이터 셋에서 qsec 컬럼을 Min-Max Scale로 변환 후 <br> 0.5보다 큰 값을 가지는 레코드(row) 수를 묻는 문제입니다.
- data 출처: https://www.kaggle.com/ruiromanini/mtcars
- 영상 링크 : https://youtu.be/E86QFVXPm5Q

In [1]:
# 라이브러리 불러오기
import pandas as pd
import missingno as msno # 결측치 관련 라이브러리

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [4]:
#EDA
# 데이터 불러오기

data = pd.read_csv("../빅데이터_분석기사/archive/mtcars.csv")
data.head(5)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
data.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [7]:
data['qsec'].min()

14.5

In [8]:
data['qsec'].max()

22.9

### 방법1

#### minmax_scale : 최소값(Min)과 최대값(Max)을 사용해서 0~1 사이의 범위(range)로 데이터를 표준화해주는 변환

In [11]:
# 라이브러리 불러오기
import pandas as pd
from sklearn.preprocessing import minmax_scale

In [12]:
# 데이터 불러오기
data = pd.read_csv("../빅데이터_분석기사/archive/mtcars.csv")
print('minmax 변환 전: \n',data['qsec'].head())

minmax 변환 전:
 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64

In [13]:
# min-max scale
data['qsec'] = minmax_scale(data['qsec'])
print('minmax 변환 후: \n',data['qsec'].head())

minmax 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64

In [18]:
# 0.5보다 큰 값 / 방법1,2 중에 선택
print(sum(data['qsec'] > 0.5)) #방법1 (True를 더 함)
print(len(data[data['qsec']>0.5])) #방법2 (데이터 수를 구함)

9
9

### 방법2

In [21]:
# 라이브러리 불러오기
import pandas as pd

In [22]:
# 데이터 불러오기
data = pd.read_csv("../빅데이터_분석기사/archive/mtcars.csv")
print('minmax 변환 전: \n',data['qsec'].head())

minmax 변환 전:
 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64

In [23]:
# min-max scale
def minmax(data):
    data = (data - min(data)) / (max(data) - min(data))
    return data

In [24]:
data['new_qsec'] = minmax(data['qsec'])
print('minmax 변환 후: \n',data['new_qsec'].head())

minmax 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: new_qsec, dtype: float64

In [25]:
data.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new_qsec
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,0.233333
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,0.300000
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,0.489286
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,0.588095
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,0.300000

In [27]:
data[data['new_qsec']>0.5].sort_values('new_qsec')

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new_qsec
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,0.523810
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,0.523810
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,0.588095
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,0.591667
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,0.642857
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,0.654762
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,0.655952
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0.680952
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,1.000000

In [17]:
# 0.5보다 큰 값 (row 수 파악)
print(len(data[data['new_qsec']>0.5]))

9